textarea {
    resize: none !important;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.vcenter {
    display: flex;
    align-items: center;
}

.hcenter {
    text-align: center;
}

#message {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

td {
    white-space: pre-wrap;
    word-wrap: break-word;
    cursor: pointer;
}


.right-pane {
    padding: 10px;
    background-color: #ddd;
}

#userList td {
    font-weight: bold;
    background-color: #fafafa;
    padding: 7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

#userList td.active {
    background-color: #bbb;
}

#userList td:hover {
    background-color: #aaa;
}

#userList {
    border-spacing: 4px;
    border-collapse: separate;
    width: 100%;
    table-layout: fixed
}

tr.active {
    background-color: #dcedc8;
}


html, body {
    height: 100%;
}

.flex-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-var {
    flex: 1;
    min-height: 0px;
}

/* --------------------------------- */

.link {
    stroke: steelblue;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #2ca02c;
}

.node--target {
    fill: #d62728;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #d62728;
}

.link--target {
    stroke: #2ca02c;
}

